/Users/defalt/Desktop/Athena/Agora/CELESTIAL-1/exa-multi-modality-master/KOSMOS_reimplementation-main/docker-compose.yml
/Users/defalt/Desktop/Athena/Agora/CELESTIAL-1/exa-multi-modality-master/KOSMOS_reimplementation-main/Dockerfile
exa-multi-modality-master/KOSMOS_reimplementation-main/kosmos-1.pem
CELESTIAL-1/exa/models/KOSMOS_reimplementation-main/model/allModalities/notes.txt